/* App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.tournament-form {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
}

.content {
  flex: 3;
  background-color: #eee;
  padding: 20px;
}

.sidebar {
  flex: 1;
  background-color: #ddd;
  padding: 10px;
}

/* Dropdown container */
.dropdown {
  position: absolute;
  background-color: #333;  /* Dark gray background */
  border: 1px solid #555;  /* Darker gray border */
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 5px;  /* Optional: add a small gap below the input */
  border-radius: 4px;  /* Optional: smooth rounded corners */
}

/* Dropdown item (each player name) */
.dropdown-item {
  padding: 10px;
  color: white;  /* White text color */
  cursor: pointer;
}

/* Highlight the item on hover */
.dropdown-item:hover {
  background-color: #444;  /* Slightly lighter gray on hover */
}
